h3 {
    font-family: Nunito;
    color: white;
}

h1 {
    font-family: Nunito;
    color: white;
    padding: 10px;
    border: 2px solid white;
}

h4 {
    font-family: Nunito;
    color: white;
}

.main {
    display: flex;
    /* justify-content: space-evenly; */
}

.filter {
    border-right: 1px solid #f62023;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check1 {
    color: white;
    font-family: Nunito;
    font-size: 15px;
    border-bottom: solid 1px white;
    width: 40vh;
    height: 35vh;
}

.frame {
    display: flex;
    flex-direction: column;
}

.frame_row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.frame_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 28vw;
    margin-left: 80px;
    border: 2px solid white;
}

.image img {
    width: 90%;
    margin-top: 5%;
    height: 15vw !important;
    display: flex;
    justify-content: center;    
}

.desc{
    margin: 10px;
    color: white;
    font-family: nunito;
}

.frame_cont:hover {
    transform: scale(1.1);
    transition: .2s;
}

.see{
    display: flex;
    color: white;
    justify-content: flex-end;
    margin-right: 80px;
}

.see:hover{
    font-size: 20px;
    transition: 0.5s;
}

.text_box{
    margin-top: 50px;
}


/* js */
.one{
    color: white;
}